<div class="d-flex justify-content-center w-100">
    <div class="card mx-3" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Search User</h5>
            <p class="card-text">Search for a github user. You will get detailed information on the user. The searches are saved</p>
            <a routerLink="/user-search" class="btn btn-primary">Let's Search for User!</a>
        </div>
    </div>
    <div class="card mx-3" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Past Searches</h5>
            <p class="card-text">Check for what you have searched in the past. You can also clear the your searches.</p>
            <a routerLink="/user-history" class="btn btn-primary">Take me to Past Searches!</a>
        </div>
    </div>
</div>